<div class="collapse" id="filtersCollapse">
    <div class="card mb-4">
      <div class="card-body">
        <form method="get" action="/" class="mb-0">
  
          <!-- Hidden query input -->
          <input type="hidden" name="q" value="{{ query }}" />
  
          <!-- COUNTRY FILTER -->
          <h5 class="card-title">Filter by Country</h5>
            <div class="row">
            {% for country, count in country_counts.items() %}
                <div class="country-scroll-box col-6 col-md-4 col-lg-3">
                    <div class="form-check">
                        <input
                        class="form-check-input"
                        type="checkbox"
                        name="country"
                        id="{{ country|lower|replace(' ', '-') }}"
                        value="{{ country }}"
                        {% if country in selected_countries %}checked{% endif %}
                        />
                        <label class="form-check-label" for="{{ country|lower|replace(' ', '-') }}">
                        {{ country }}
                        <span class="badge badge-secondary">{{ count }}</span>
                        </label>
                    </div>
                </div>
            {% endfor %}
            </div>

  
          <!-- DATE POSTED FILTER -->
          <h5 class="card-title mb-3">Filter by Date Posted</h5>
  
          <div class="d-flex flex-wrap date-filter-container">
            {% set date_options = [
              {"id":"date_any", "label":"Anytime", "value":""},
              {"id":"date_today", "label":"Today", "value":"today"},
              {"id":"date_last_week", "label":"Last Week", "value":"last_week"},
              {"id":"date_last_month", "label":"Last Month", "value":"last_month"},
              {"id":"date_older", "label":"Older", "value":"older"}
            ] %}
            
            {% for option in date_options %}
            <div class="form-check mr-4 mb-2">
              <input
                class="form-check-input"
                type="radio"
                name="date_posted"
                id="{{ option.id }}"
                value="{{ option.value }}"
                {% if selected_date == option.value or (not selected_date and option.value == '') %}checked{% endif %}
              />
              <label class="form-check-label" for="{{ option.id }}">{{ option.label }}</label>
            </div>
            {% endfor %}
          </div>
  
          <button type="submit" class="btn btn-primary btn-sm mt-3">Apply Filters</button>
        </form>
      </div>
    </div>
  </div>
  