<form method="get" action="/" class="w-100" id="landing-search-form">
    <div class="form-row align-items-center">
      <div class="col">
        <input
          type="text"
          name="q"
          placeholder="Search for jobs..."
          value=""
          class="form-control form-control-lg"
          autocomplete="off"
        />
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary btn-lg">Search</button>
      </div>
    </div>
  </form>
  