<!-- templates/_landing_search.html -->

<div class="landing-typeit-container mb-4">
    <div id="typeit-text" class="mb-4"></div>
  </div>
  
  <form class="landing-search-form" method="get" action="/">
    <div class="input-group input-group-lg shadow">
      <input
        type="text"
        class="form-control border-0 landing-input"
        placeholder="What job are you looking for?"
        name="q"
        autocomplete="off"
      />
      <div class="input-group-append">
        <button class="btn btn-primary landing-btn" type="submit">Search</button>
      </div>
    </div>
  </form>
  