{% extends "base.html" %}

{% block title %}Organizations - JobFinder{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/orgs.css') }}?v={{ time.time() }}" />
{% endblock %}

{% block content %}
<div class="stats-container">
    <div class="container">        
        <!-- Organizations Table -->
        <div class="row">
            <div class="col-12">
                <div class="table-container">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-12">
                                <input type="text" id="searchOrgs" class="form-control" placeholder="Search organizations...">
                            </div>
                        </div>
                        <table class="table table-hover mb-0" id="orgsTable">
                            <thead>
                                <tr>
                                    <th scope="col">Organizations</th>
                                    <th scope="col">Total Jobs</th>
                                    <th scope="col">Last Updated</th>
                                </tr>
                            </thead>
                            <tbody id="orgsTableBody">
                                <tr>
                                    <td colspan="4" class="text-center">
                                        <div class="loading-spinner"></div> Loading organizations...
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script nonce="{{ nonce }}" src="{{ url_for('static', filename='js/orgs.js') }}?v={{ time.time() }}"></script>
{% endblock %}